body{
    overflow-y: auto;
}



main{
    flex-direction: column;
    justify-content: initial;
    gap:30px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
}



.text-container{
    margin: 80px 0;
    width: 40%;
    color:black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 100px;
    background-color: white;
    padding:50px;
    line-height: 30px;
    box-shadow: 4px 0px 20px #2977fc;
}
.text-container h1{
    font-size: 40px;
    padding:25px;
    text-shadow: 1px 1px white;
}


.mask{
    mask-image:url('../Content/circle.png');
    -webkit-mask-image: url('../Content/circle.png');
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    mask-position: top;
    -webkit-mask-position: top;
    mask-size: 100% auto;
    -webkit-mask-size: 100% auto;
    width:30%;
    margin-right: 20px;

}
.mask img{
    width:100%;
    background-color: white;
    border:10px solid white;
}






/* Skills Style */
#skills{
    width:80%;
    
}

#skills> h1{
    padding:10px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px  white;
    padding-bottom: 40px;
}


#skills .container{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    align-items: center;
    text-align: center;
    width:100%;
    padding-bottom: 80px;
}




.skill{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width:calc(24% - 5px);
    height: 150px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 3px 0px 20px #2977fc;
    text-decoration: none;
    color:black;
}

.skill:hover img{
    height:70%;
}
.skill:hover h1{
    display: none;
}

.skill img{
    height: 50%;
}
.skill h1{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}



/* Education Section */

#education{
    width:80%;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
}

#education> h1{
    padding:10px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px  white;
    padding-bottom: 40px;
}


.school{
    width:100%;
    height:200px;
    background-image: url('../Content/dordtCampus.png');
    background-size: cover;
    filter:opacity(0.8);


    border-radius: 80px;
    box-shadow: 3px 0px 20px #2977fc;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.school h1{
    color:white;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 5px black;
    filter:opacity(1);

}

.school p{
    color:white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 5px black;
    filter:opacity(1);

}


/* Experiences */

#work{
    width:80%;
    
}

#work > .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    gap:30px;
}
.job{
    width:calc(50% - 15px);
    height:400px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.513);
    border-radius: 40px;
    box-shadow: 3px 0px 20px #2977fc;
}

/* .job > .bottom-container{
    position: absolute;
    bottom: 0;
    width:100%;
    height:50%;
    background-color: white;
}
.job > .top-container{
    position: absolute;
    top:0;
    width:100%;
    height:50%;
    background-color: black;
    
} */
#work {
    padding-bottom: 100px;
}
#work > h1{
    padding:10px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px  white;
    padding-bottom: 40px;
}

.top-container{
    height:30%;
    width:100%;
    background-color: white;
    border-radius: 40px 40px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom-container{
    height:70%;
    width:100%;
    border-radius: 0 0 40px 40px;
    display: flex;
    flex-direction: column;
    background-color: #6a9ef7;
    align-items: center;
    overflow:auto;
    font-family: Arial, Helvetica, sans-serif;
}
.bottom-container > * {
    padding:5px;
}

.job .top-container h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}