
/* General */
*{
    margin:0;
    padding:0;
}


/* Navigation */
nav {
    position: absolute;
    height: 80px;
    width:100%;
}
.links {
    position: relative;
    display: flex;
    align-items: center;
    float: right;
    height:100%;
    gap:10px;
    list-style: none;
}


.link{
    padding:10px 20px;
    margin:10px;
    border: solid 0px #2977fc;
    box-shadow: 1px 1px 4px #2977fc;
    transition: border-width 0.2s linear ;
    border-radius: 10px;
}
.link>a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    color:black;
    text-shadow: 1px 1px white;
    
}

.link:hover{
    border-width: 3px;
    box-shadow: none;
    box-shadow: 1px 0px 10px #2977fc;
}

#logo{
    height:100%;
    margin-left:20px;
}
#logo img{
    height:100%;
}














main{
    display: flex;
    padding-top: 80px;
    height:calc(100vh - 80px);
    width:100vw;
    align-items: center;
    justify-content: center;
    
}
body{
    overflow: hidden;
    background: linear-gradient(90deg, #2977fc,white);
    
    background-size: cover;
}
